body {
    background: rgb(255, 230, 0);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.disable{
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    transition: color 0.3s ease;
}

#edpuzzle-title {
    position: relative;
    text-align: center;
    bottom: 5vh;
    font-size: 7.5vh;
}

#watermark {
    position: absolute;
    bottom: 83%;
    font-size: 3vh;
    color: hsl(0, 0%, 0%, 0.9)
}

#refresh-button {
    background-color: #ffffff;
    cursor: pointer;
    padding: 1.3vh .5vh;
    border-radius: 10px;
    font-size: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 3vh;
    top: 0vh;
}

#home-button{
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    right: 3vh;
    top: 0vh;
    text-align: center;
    background-color: hsl(0, 100%, 39%);
    font-size: 16px;
    padding: 1.3vh .5vh;
    border: 4px solid hsl(0, 0%, 0%);
    border-radius: 10px;

}

#tokeninfo {
    position: absolute;
    top: 20%;
    font-size: 3.2vh;
    font-weight: lighter;
}

.TokenResponse {
    position: absolute;
    font-size: 1.3vh;
    top: 27%;
    padding: 1vh 2vh;
    width: 70%;
    border-radius: 10px;
    word-wrap: break-word;
}



#fetchDataButton {
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 3.4vh 5.8vh;
    border: 0, solid, rgb(0, 0, 0);
    border-radius: 10px;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 2vh;
}

#fetchDataButton:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #000000;
}



#GrabToken {
    cursor: pointer;
    background-color: aqua;
    padding: 3.4vh 5.8vh;
    border: 0, solid, rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 2vh;
    font-weight: bold;
}

#GrabToken:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #000000;
}


.button-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    gap: 2ch;
    top: 38%;
}

@media screen and (max-width: 516px) {
    #fetchDataButton,
    #GrabToken {
        width: 40vw;
        height: 12vh;
        padding: 0px;
    }
}

#line {
    position: absolute;
    width: 100%;
    top: 49vh;
    height: 15px;
    background-color: hsl(165, 50%, 51%);
    border: none;

}

.AnswersAppears {
    background-color: #72F7B3;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 3vh;
    top: 53vh;
}





/* response css */

.response-success {
    background-color: rgb(0, 255, 0);
    padding: 10px;
    border-radius: 10px;
}

.response-progress {
    background-color: rgb(0, 174, 255);
    padding: 10px;
    border-radius: 10px;
}

.response-fail {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}



.edpuzzle-answers {
    position: absolute;
    left: 3vh;
    top: 59vh;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.answer {
    margin-bottom: 5px;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 175px;
}

.answer:hover {
    background-color: #e0e0e0;
}