@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient(to bottom left,black -30%, red 50%, black 130% );
    height: 100vh;
    margin: 0;
    padding: 0;
}


.title {
    font-size: calc(1rem + 1vw + 1vh);
    text-align: center;
    margin: 0;
    height: 10vh;
    position: relative;
    top: 10px;
}

.home-button{
    background-color: rgba(0, 255, 76, 0.568);
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: calc(0.3vh + 0.3vw);
    position: absolute;
    top: 4px;
    right: 4px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px;
    background-color: hsla(0, 0%, 100%, 0.05);
    margin-top: 3vh;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    container-type: inline-size;
}


.schedule-container{
    background: hsla(194, 100%, 50%, 0.7);
    width: 99%;
    margin-left: 1%;
    height: 100%;
    border-radius: 10px;
    position: relative;

}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }


}

.schedule-titles{
    text-align: center;
    font-size: calc(1.1cqw + 1cqh);
    font-weight: 900;
}


.schedule-content{
    font-family: "Lustria", serif;
    font-style: normal;
    font-weight: 600;
    font-size: calc(0.9cqw + 0.9cqh);
    color: hsl(340, 100%, 50%);
    margin-bottom: 10px;
    margin-left: 1.5vw;
}


.timer-container{
    font-size: calc(1cqh + 1cqw);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 12vh;
    right: 4vw;
}

.time-remaining{
    font-family: "Lustria", serif;
    font-style: normal;
    font-size: calc(1cqh + 1cqw);
}

.clock{
    margin-top: 1vh;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: calc(1cqw + 0.3cqh);
}

b{
    font-family: "Unna", serif;
    font-style: normal;
    color: hsl(103, 100%, 50%);
    font-weight: 400;
    font-size: calc(1cqw + 1cqh);
}

.highlight_current_class{
    background-color: black;
    border-radius: 10px;
    padding: 3px;
}


.lunch-container{
    background-color: hsl(283, 63%, 36%);
    width: 99%;
    height: 100%;
    border-radius: 10px;
}


.lunch-title{
    text-align: center;
    font-size: calc(1.1cqw + 1cqh);
    font-weight: 900;
}

