:root {
    --navbar-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --navbar-background-color: hsl(0, 0%, 95%, 0.15);
    --navbar-button-color: hsl(200, 85%, 43%);
    --border-color-trans: rgb(0, 60, 255);
    --border-color-hover: hsl(200, 85%, 43%, 0.8);
}


body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: inherit;
}

.hyperlinks {
    color: rgb(234, 0, 255);
}

.hyperlinks:active {
    color: blueviolet;
}



.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 1vw;
    margin-top: 0.5rem;
    text-decoration: none;
    position: relative;
    border: 2px solid rgb(0, 154, 201);
    width: 99%;
    border-radius: 20px;
    height: 5rem;
    font-size: 1.1rem;
    animation: title-border 4s infinite alternate;
    background-color: var(--navbar-background-color);


}





/* every children inside of the navbar */

.navbar>* {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 15px;
    gap: 3vw;
    font-family: var(--navbar-font);
    font-weight: 600;
    width: 15vw;
    max-width: 140px;
    height: 6vh;
    min-height: 50px;
    min-width: 80px;

    box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.2);
    background-color: var(--navbar-button-color);
}

.navbar-about:hover,
.navbar-schedule:hover,
.navbar-lunches:hover,
.navbar-home-button:hover {
    transform: translate(2%, -4%);
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--border-color-hover);
}


.navbar-about {
    margin-right: 1vw;
}

.navbar-home-button {
    position: absolute;
    left: 15px;
    max-width: 50px;

}





@keyframes title-border {
    from {
        box-shadow: 0 0 30px rgb(0, 96, 122);
        border-color: black;

    }

    to {
        box-shadow: 0 0 30px hsla(0, 0%, 0%, 0.5);
        border-color: transparent;

    }
}